<div class="title-container">
    <h1>ONE</h1>
    <img class="logo-title"
        src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588696259/One%20Step%20Closer%20images/Untitled_Artwork_2_hrlfld.jpg"
        alt="Logo Image">
    <h1 class="closer-green">CLOSER</h1>
</div>
<div class="index-titles">
    <h2>Little steps to a better world</h2>
    <hr>
</div>
<br>
<div class="index-btn">
    <a class="signup" href="/auth/signup">Sign Up</a>
    <a class="login" href="/auth/login">Log in</a>
</div>