<div>
    <h1>ONE STEP CLOSER</h1>
    <h2>Little steps for a better world</h2>
</div>
<div>
    <a href="/auth/signup">
        <button>Sign up to make a better world</button>
    </a>
    <a href="/auth/login">
        <button>Log in to your account</button>
    </a>
</div>