<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div>
    <button class="btn-return" onclick="window.history.back()">&#x25C0</button>
  </div>

  {{{body}}}

  <script src="/javascripts/script.js"></script>

</body>

</html>