<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/users/actual" class="nav-area">Private area</a>
  <a href="#" class="nav-area">Badges collection</a>
  <a href="/auth/logout" class="nav-area">Logout</a>

</div>

<img
  src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588696129/One%20Step%20Closer%20images/Untitled_Artwork_2_hrlfld.jpg"
  alt="logo" class="logo">

<!-- Use any element to open the sidenav -->
<span onclick="openNav()">
  <img
    src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588695777/One%20Step%20Closer%20images/iconfinder_menu-alt_134216_y0iqr8.webp"
    alt="menu-button" class="menu-button">
</span>

<div class="intro-text">

  <h1 class="welcome">Welcome, <span class="green-user">{{currentUser.username}}</span>!</h1>

  <div class="menu-text">
    <p>Let's save the world<span class="bold"> together</span></p>
    <hr>
  </div>

  <p class="take">Take a challenge</p>

</div>


<!-- Slick Carousel -->

<div class="myCarousel center">
  <a href="/challenge/list/water"><img
      src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588762504/One%20Step%20Closer%20images/ecology_z9q2bw.png"
      alt="Water challenge pic"><br>WATER</a>
  <a href="/challenge/list/energy"><img
      src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588762542/One%20Step%20Closer%20images/electricity_wrqc81.png"
      alt="Energy challenge pic"><br>ENERGY</a>
  <a href="/challenge/list/waste-management"><img
      src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588761181/One%20Step%20Closer%20images/waste_q46xxp.png"
      alt="Waste challenge pic"><br>WASTE MANAGEMENT</a>
  <a href="/challenge/list/nutrition"><img
      src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588704280/One%20Step%20Closer%20images/comida-y-restaurante_urmiuu.png"
      alt="Nutrition challenge pic"><br>NUTRITION</a>
  <a href="/challenge/list/transportation"><img
      src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588787973/One%20Step%20Closer%20images/bicycle_mumbvm.png"
      alt="Transportation challenge pic"><br>TRANSPORTATION</a>
  <a href="/challenge/list/responsible-consumption"><img
      src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588789057/One%20Step%20Closer%20images/nature_rwkk2d.png"
      alt="Consumption challenge pic"><br>CONSUMPTION</a>
</div>






<div class="create-btn-container">

  <p class="text-menu">Did you find a different way to <br>reduce your carbon footprint?</p>

  <a class="create-btn" href="/challenge/create">CREATE A CHALLENGE</a>

</div>