<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Private area</a>
    <a href="#">Badges collection</a>

</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()">open</span>

<h1>Welcome, {{currentUser.username}}</h1>


<div>
    <a href="/challenge/list/water">WATER</a>
    <a href="/challenge/list/energy">ENERGY</a>
    <a href="/challenge/list/waste management">WASTE MANAGEMENT</a>
    <a href="/challenge/list/nutrition">NUTRITION</a>
</div>

<br>

<a href="/challenge/create">CREATE A CHALLENGE</a>