<div>

    <h2>You chose a plastic challenge</h2>

    <img src="" alt="">

    <p>Text about something important</p>

    {{#each challenge}}

    <a href="/challenge/{{_id}}">
        <h2>{{name}}</h2>
    </a>
    {{/each}}
</div>