<div class="type-container">

    <h2>You chose <br> <span>{{challengeType}}</span> challenge</h2>

    <!--water case-->
    {{#ifeq challengeType "water"}}

    <img class="image-type"
        src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588762504/One%20Step%20Closer%20images/ecology_z9q2bw.png"
        alt="water image">

    {{/ifeq}}

    <!--energy case-->
    {{#ifeq challengeType "energy"}}

    <img class="image-type"
        src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588762542/One%20Step%20Closer%20images/electricity_wrqc81.png"
        alt="energy image">

    {{/ifeq}}

    <!--waste management case-->
    {{#ifeq challengeType "waste"}}

    <img class="image-type"
        src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588761181/One%20Step%20Closer%20images/waste_q46xxp.png"
        alt="waste management image">

    {{/ifeq}}

    <!--waste management case-->
    {{#ifeq challengeType "nutrition"}}

    <img class="image-type"
        src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588704280/One%20Step%20Closer%20images/comida-y-restaurante_urmiuu.png"
        alt="nutrition image">

    {{/ifeq}}

    <!--transportation case-->
    {{#ifeq challengeType "transportation"}}

    <img class="image-type"
        src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588787973/One%20Step%20Closer%20images/bicycle_mumbvm.png"
        alt="transportation image">

    {{/ifeq}}

    <!--consumption case-->
    {{#ifeq challengeType "consumption"}}

    <img class="image-type"
        src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588789057/One%20Step%20Closer%20images/nature_rwkk2d.png"
        alt="consumption image">

    {{/ifeq}}



    <p class="facts">Text about something important</p>
    <br>
    <p class="choose-text">Choose your challenge</p>

    <div class="{{challengeType}}">
        {{#each challenge}}

        <a href="/challenge/{{_id}}">
            <h3>{{name}}</h3>
        </a>
        {{/each}}
    </div>
</div>