<div class="type-container">

    <h2>You chose <br> <span>{{challengeType}}</span> challenge</h2>

    <img class="image-type"
        src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588840100/One%20Step%20Closer%20images/farming_tojmrh.png"
        alt="water image">

    <p class="facts">Text about something important</p>
    <br>
    <p class="choose-text">Choose you challenge</p>

    <div class="{{challengeType}}">
        {{#each challenge}}

        <a href="/challenge/{{_id}}">
            <h3>{{name}}</h3>
        </a>
        {{/each}}
    </div>
</div>