@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&&family=Roboto:wght@400;900&display=swap");

/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS MODIF */

/* LAYOUT */

.btn-return {
  position: fixed;
  left: 30px;
  top: 30px;
  width: 30px;
  height: 29.15px;
  border: none;
  background-color: white;
  font-size: 50px;
}

/* INDEX VIEW */

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  line-height: 48px;
  text-align: center;
  font-family: "Fredoka One", cursive;
  margin-top: 100px;
}

.logo-title {
  width: 30%;
  max-width: 400px;
  height: auto;
  padding-left: 25px;
}

.closer-green {
  color: #16bc6c;
}

.index-titles h2 {
  margin-top: 180px;
  text-align: center;
  font-family: "Roboto";
  font-size: 40px;
  line-height: 28px;
  padding-bottom: 16px;
}

.index-titles hr {
  width: 50%;
  min-width: 298px;
  border: 5px solid #16bc6c;
}

.index-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.index-btn a {
  width: 401px;
  height: 106px;
  margin-bottom: 70px;
  border: 4px solid #094e08;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 50px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  padding-top: 25px;
}

.index-btn a:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.index-btn a:active {
  transform: translateY(4px);
}

.index-btn button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.signup {
  background: #16bc6c;
  box-sizing: border-box;
  color: white;
  padding-top: 6px;
}

.signup:hover,
.signup:focus {
  background: #e67b34;
  border: 4px solid #754220;
  cursor: pointer;
  color: white;
}

.login {
  color: #094e08;
  padding-top: 6px;
}

.login:hover,
.login:focus {
  background: #e67b34;
  border: 4px solid #754220;
  cursor: pointer;
  color: white;
}

/* SIGN IN VIEW */

.index-titles p {
  margin-top: 80px;
  text-align: center;
  font-family: "Roboto";
  font-size: 40px;
  line-height: 28px;
  padding-bottom: 16px;
}

.form-user {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 40px;
  line-height: 28px;
}

.form-element {
  display: flex;
  flex-direction: column;
  padding: 42px;
}

.form-element label {
  padding-bottom: 10px;
}

.form-element input {
  background: #dfdddd;
  border: 1px solid #dcd1d1;
  width: 600px;
  max-width: 500px;
  min-height: 70px;
}

.submit {
  width: 283px;
  height: 82px;
  background: #16bc6c;
  border: 4px solid #094e08;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 40px;
  line-height: 35px;
  text-align: center;
  color: white;
  margin-top: 200px;
}

.submit:hover,
.submit:focus {
  background: #e67b34;
  border: 4px solid #754220;
  cursor: pointer;
  color: white;
}

/* MENU */

.menu-button {
  position: absolute;
  width: 10%;
  left: 5%;
  top: 100px;
}

.logo {
  position: relative;
  width: 30%;
  left: 70%;
  top: 12px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-family: "Roboto";
  font-size: 70px;
  line-height: 35px;
  text-align: center;
  margin-top: 50px;
}

.welcome span {
  color: #16bc6c;
  font-weight: bold;
}

.menu-text {
  font-size: 36px;
  margin-top: 94px;
  text-align: center;
  font-family: "Roboto";
  line-height: 28px;
}

.menu-text span {
  font-weight: bold;
}

.menu-text hr {
  width: 70%;
  min-width: 500px;
  border: 2px solid #16bc6c;
}

.take {
  font-size: 50px;
  font-family: "Roboto";
  line-height: 35px;
  margin-top: 55px;
}

/* CAROUSEL */

.myCarousel {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
}

.myCarousel a {
  color: black;
  font-family: "Roboto";
}

.myCarousel img {
  width: 300px;
}

.slick-next:before {
  color: black !important;
  font-size: 55px;
  margin-left: -85px;
}

.slick-prev {
  z-index: 1;
}

.slick-prev:before {
  color: black !important;
  font-size: 55px;
  margin-right: -95px;
  z-index: 1;
}

.create-btn-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.text-menu {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Roboto";
  font-size: 35px;
  line-height: 21px;
  margin-top: 170px;
  letter-spacing: 3px;
  line-height: 40px;
}

.create-btn {
  align-self: center;
  width: 381px;
  height: 86px;
  background: #16bc6c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-top: 20px;
  color: white;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-top: 90px;
}

.create-btn:hover,
.create-btn:focus {
  text-decoration-line: underline;
  color: white;
  cursor: pointer;
}

.create-btn:active {
  transform: translateY(4px);
}

/* MENU SIDEBAR */

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(109, 206, 177, 0.95); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.nav-area {
  margin-top: 200px;
  padding: 3px 8px 8px 32px;
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  color: #272626;
  display: block;
  transition: 0.3s;
  font-family: "Roboto";
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  margin-top: 10px;
  left: 200px;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  color: #272626;
  display: block;
  transition: 0.3s;
  font-family: "Roboto";
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* CREATE VIEW */

.create-challenge {
  font-size: 70px;
  text-align: center;
  font-family: "Roboto";
  margin-top: 100px;
  margin-bottom: 100px;
}

.green {
  color: #16bc6c;
  font-weight: bold;
}

#create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 45px;
  margin-top: 200px;
}

.title {
  display: flex;
  flex-direction: column;
}

#create label {
  margin-bottom: 15px;
}

.type {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 50px;
}

.type label {
  margin-right: 130px;
}

.type option {
  font-size: 20px;
}

#create input,
textarea {
  width: 700px;
  background: #ecebeb;
  border: 1px solid #dcd1d1;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.description {
  height: 500px;
}

.file label,
input {
  display: block;
}

.file label {
  margin-bottom: 20px;
}

.ready {
  margin-bottom: 20px;
}

.submit-create {
  background: #16bc6c;
  color: white;
  padding-top: 6px;
  width: 281px;
  height: 86px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Roboto";
  line-height: 34px;
  text-align: center;
  text-decoration: underline;
  font-size: 55px;
}

.submit-changes {
  background: #16bc6c;
  color: white;
  padding-top: 6px;
  width: 291px;
  height: 120px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Roboto";
  line-height: 44px;
  text-align: center;
  text-decoration: underline;
  font-size: 45px;
}

/*CHALLENGE BY TYPE*/

.type-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.type-container h2 {
  font-family: "Roboto";
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 35px;
  font-size: 60px;
  line-height: 55px;
}

.type-container span {
  color: #16bc6c;
  font-weight: bold;
}

.facts {
  align-self: center;
  font-size: 40px;
  margin-bottom: 48px;
  font-family: "Roboto";
  text-align: center;
  width: 80%;
  line-height: 50px;
}

.choose-text {
  align-self: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto";
}

.image-type {
  width: 40%;
  align-self: center;
  margin-bottom: 58px;
}

.energy,
.water,
.consumption,
.waste,
.nutrition,
.transportation {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.energy a,
.water a,
.consumption a,
.waste a,
.nutrition a,
.transportation a {
  align-self: center;
  margin-top: 45px;
}

.energy h3,
.water h3,
.consumption h3,
.waste h3,
.nutrition h3,
.transportation h3,
h3.water,
h3.energy,
h3.nutrition,
h3.waste,
h3.transportation,
h3.consumption {
  color: black;
  font-family: "Roboto";
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 35px;
  padding-top: 40px;
  height: 140px;
  width: 481px;
  border-radius: 25px;
  position: relative;
}

.complete {
  margin-left: 250px;
}

.energy h3,
h3.energy {
  background-color: #5dba54;
}

.water h3,
h3.water {
  background-color: #54baba;
}

.nutrition h3,
h3.nutrition {
  background-color: #ea8b8b;
}

.waste h3,
h3.waste {
  background-color: rgb(207, 233, 103);
}

.transportation h3,
h3.transportation {
  background-color: rgb(243, 102, 51);
}

.consumption h3,
h3.consumption {
  background-color: rgb(47, 145, 47);
}

/* PRIVATE AREA */

.text {
  margin-top: 155px;
  margin-bottom: 74px;
  font-family: "Roboto";
  font-size: 50px;
  line-height: 45px;
  text-align: center;
}

.text-green {
  margin-top: 278px;
  font-family: "Roboto";
  font-size: 50px;
  line-height: 45px;
  text-align: center;
  color: #19a964;
  font-weight: bold;
}

.challenge-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.challenge-item {
  height: 200px;
  border-radius: 8px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 19px;
  font-family: "Roboto";
  font-size: 50px;
  line-height: 23px;
  text-align: center;
  color: white;
}

.challenge-container a:active {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.nav a {
  font-size: 40px;
  font-family: "Roboto";
  width: 30%;
  height: 20%;
  min-height: 100px;
  min-width: 320px;
  padding-top: 25px;
  color: white;
  font-weight: bold;
}

.nav a:active {
  color: white;
  text-decoration: underline;
}

.other {
  background-color: #16bc6c;
}

.actual {
  background-color: #6dceb1;
}

/* DETAIL VIEW */

.detail-container {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.detail-container img {
  width: 50%;
  align-self: center;
}

.detail-container h3 {
  align-self: center;
}

.description-detail {
  align-self: center;
  font-size: 45px;
  font-family: "Roboto";
  width: 80%;
  margin-top: 70px;
  line-height: 58px;
  letter-spacing: 4px;
  text-align: center;
}



.author {
  align-self: center;
  font-size: 45px;
  margin-top: 100px;
  font-family: "Roboto";
  text-align: center;
  line-height: 58px;
}

.author span {
  font-weight: bold;
}

.take-it {
  margin-top: 103px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  font-family: "Roboto";
}

.take-it p {
  align-self: center;
  font-size: 45px;
  margin-bottom: 80px;
}

.take-it button {
  align-self: center;
  font-size: 45px;
  background: #16bc6c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 350px;
  height: 75px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.edit-btn {
  margin-top: 103px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  font-family: "Roboto";
}

.edit-btn button {
  align-self: center;
  font-size: 45px;
  background: #f39e3d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 350px;
  height: 95px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.leave {
  margin-top: 103px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  font-family: "Roboto";
}

.leave p {
  align-self: center;
  font-size: 45px;
  margin-bottom: 80px;
}

.leave button {
  align-self: center;
  font-size: 45px;
  background: #d64141;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 350px;
  height: 125px;
  font-weight: bold;
  color: white;
}

.leave-btn {
  align-self: center;
  font-size: 45px;
  background: #d64141;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 350px;
  height: 125px;
  font-weight: bold;
  color: white;
  margin-top: 103px;
  margin-left: 310px;
  font-family: "Roboto";
}

.leave button:active,
.take-it button:active {
  text-decoration-line: underline;
}

#myModal {
  margin-top: 200px;
  margin-left: -100px;
  font-size: 60px;
  text-align: center;
  font-family: "Roboto";
}

#myModal .modal-title {
  font-weight: bold;
  color: red;
  margin-left: 200px;
  margin-top: 30px;
}

#myModal .close {
  font-size: 50px;
}

#myModal .modal-content {
  width: 700px;
  height: 800px;
}

#myModal .modal-body {
  margin-top: 200px;
  line-height: 65px;
}

#myModal .btn {
  width: 180px;
  height: 100px;
  font-size: 50px;
}

.error-message {
  font-size: 40px;
  bottom: 5px;
  position: fixed;
  font-weight: bold;
}
