<form action="/users/{{challenge._id}}/edit" method="post" enctype="multipart/form-data">

    <label for="">Title</label>
    <input type="text" name="name" value="{{challenge.name}}">

    <label for="">Image</label>
    <input type="file" id="myFile" name="image" value="{{challenge.image}}">

    <label for="">Description</label>
    <input type="text" name="description" value="{{challenge.description}}">

    <button type="submit">Submit changes</button>

</form>