<p class="text">Here you can see the challenges you <br>accepted</p>

<div>

    {{#each user}}


    <div class="challenge-container">

        {{#each actualChallenges}}

        <a class="challenge-item" href="/challenge/{{_id}}">
            <h1>{{name}}</h1>

        </a>

        {{/each}}

    </div>


    {{/each}}
</div>

<div class="nav">
    <a class="actual" href="/users/actual">Accepted</a>
    <a class="other" href="/users/completed">Completed</a>
    <a class="other" href="/users/created">Created</a>
</div>