<p class="text-green">Great work!</p>
<br>
<p class="text">Thanks to you we are one step closer<br> to save the world</p>




{{#each user}}

{{#each completedChallenges}}

<h3 class="{{type}} complete">{{name}}</h3>

{{/each}}

{{/each}}


<div class="nav">
    <a class="other" href="/users/actual">Accepted</a>
    <a class="actual" href="/users/completed">Completed</a>
    <a class="other" href="/users/created">Created</a>
</div>