<div>
    <a href="/users/actual">Accepted</a>
    <a href="/users/completed">Completed</a>
    <a href="/users/created">Created</a>
</div>

<div>

    {{#each user}}

    {{#each actualChallenges}}

    <a href="/challenge/{{_id}}">
        <h1>{{name}}</h1>

    </a>



    {{/each}}

    {{/each}}
</div>