<div>
    <a href="/users/actual">Accepted</a>
    <a href="/users/completed">Completed</a>
    <a href="/users/created">Created</a>
</div>

<div>

    {{#each user}}

    <h1>{{name}}</h1>

    {{/each}}

</div>