<div>
    <a href="/users/actual">Accepted</a>
    <a href="/users/completed">Completed</a>
    <a href="/users/created">Created</a>
</div>

<div>

    {{#each user}}

    {{#each createdChallenges}}

    <a href="/users/created/{{_id}}/details">
        <h1>{{name}}</h1>
    </a>

    {{/each}}

    {{/each}}
</div>