<p class="text">Here you can see the challenges you <br>accepted</p>

<divc class="scroll">

    {{#each user}}

    <div class="challenge-container">

        {{#each createdChallenges}}


        <a class="challenge-item" href="/users/created/{{_id}}/details">
            <h1>{{name}}</h1>
        </a>


        {{/each}}

    </div>

    {{/each}}

    </div>

    <div class="nav">
        <a href="/users/actual">Accepted</a>
        <a href="/users/completed">Completed</a>
        <a href="/users/created">Created</a>
    </div>