<div class="title-container">
  <h1>ONE</h1>
  <img class="logo-title"
    src="https://res.cloudinary.com/dywatr6gy/image/upload/v1588696259/One%20Step%20Closer%20images/Untitled_Artwork_2_hrlfld.jpg"
    alt="Logo Image">
  <h1 class="closer-green">CLOSER</h1>
</div>

<div class="index-titles">
  <p>Log in to your account</p>
  <hr>
</div>

<form class='form-user' id="form" action='' method='POST'>

  <div class="form-element">
    <label for=''>Username:</label>
    <input type='text' name='username'>
  </div>

  <div class="form-element">
    <label for=''>Password:</label>
    <input type='password' name='password'>
  </div>

  <button class="submit" type='submit'>Submit</button>

</form>

<div>
  {{!-- Error message display --}}
  {{#if errorMessage}}
  <div class="error-message"> {{errorMessage}} </div>
  {{/if}}
</div>